{% extends 'laApp/base.html' %}
{% load static %}

{% block title %} 
Classroom | Inicio        
{% endblock %}

{% block content %}
  <!-- Content section 1-->
  <section id="scroll">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5"><img class="img-fluid rounded-circle" src="{% static 'laApp/assets/img/libro.jpg' %}" alt="..." /></div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">Crea tantas clases como quieras para que tus alumnos aprendan con la mejor comodidad!</h2>
                    <p>En este espacio, hemos diseñado un entorno de aprendizaje interactivo y dinámico, donde podrás acceder a una variedad de recursos educativos, conectarte con tus compañeros y profesores, y desarrollar habilidades y conocimientos en un ambiente colaborativo y estimulante.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Content section 2-->
<section>
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6">
                <div class="p-5"><img class="img-fluid rounded-circle" src="{% static 'laApp/assets/img/libro2.jpg' %}" alt="..." /></div>
            </div>
            <div class="col-lg-6">
                <div class="p-5">
                    <h2 class="display-4">Únete a nuestra comunidad de profesores!</h2>
                    <p>Nuestro objetivo es crear un comunidad de aprendizaje en línea que sea inclusiva, respetuosa y estimulante, donde todos puedan crecer y desarrollarse juntos. ¡Esperamos que disfrutes de esta experiencia de aprendizaje en línea y que te unas a nuestra comunidad de aprendizaje. </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Content section 3-->
<section>
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5"><img class="img-fluid rounded-circle" src="{% static 'laApp/assets/img/libro3.jpg' %}" alt="..." /></div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <p>Nuestra página Classroom está diseñada para ser fácil de navegar y utilizar, con una interfaz intuitiva y organizada que te permitirá encontrar rápidamente lo que necesitas.</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}